<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <h1>actively trading</h1>
</head>
<body>
    <form action="/actively_trading" method="POST">
        <label for="pe"> pe: </label><br>
        <input type="text" id="pe" name="pe"><br>

        <br><br>
        <input type="submit" value="submit" name="submit"/>
    </form>
</body>
</html>