<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <center>

        <h1>this is the response if client provides alternative price!</h1>

    </center>
</head>

<body>
<center>
    <p id="copy">Lukka Prime’s price is derived from the asset pair {{derived_asset}}
    on principal exchange {{pe}}. We stand by this price 
    given that the exchange was chosen based on the qualitative and quantitative factors 
    that Lukka Prime uses. </p>
    <button type="button" onclick="copyEvent('copy')">Copy</button>
</center>
</body>

    <script>
        function copyEvent(id)
        {
            var str = document.getElementById(id);
            window.getSelection().selectAllChildren(str);
            document.execCommand("Copy")
        }
    </script>

</html>