<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <h1>client provides alternative price (wrong price)</h1>
</head>
<body>
    <form action="/alt_price" method="POST">
        <label for="derived_asset"> derived asset pair: </label><br>
        <input type="text" id="derived_asset" name="derived_asset"><br>

        <label for="pe"> principle exchange: </label><br>
        <input type="text" id="pe" name="pe"><br>

        <br><br>
        <input type="submit" value="submit" name="submit"/>
    </form>
</body>
</html>