<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <center>
        <h1>this is the response for further investigation!</h1>
        <h2>(Base Pair is more than XX% away from vwaps and other exchanges)</h2>
    </center>
</head>
<body>
<center>
    <p id="copy">This case has been escalated and requires further investigation. 
        We will follow up with more information when available. </p>
        <button type="button" onclick="copyEvent('copy')">Copy</button>
</center>
</body>
</html>