<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>welcome to pricing challenge response helper!</h1>
    <h2>
        <form method="post" action="/">
            <input type="submit" value="actively trading" name="actively trading"/>
            <input type="submit" value="actively trading fiat" name="actively trading fiat"/>
            <input type="submit" value="stale fiat, active USD price" name="stale fiat, active USD price"/>
            <input type="submit" value="stable usd" name="stable usd"/>
            <input type="submit" value="further investigation" name="further investigation"/>
            <input type="submit" value="client provides alternative price" name="client provides alternative price"/>
            <input type="submit" value="large movement" name="large movement"/>
        </form>
    </h2>
</head> 
<body>
  
</body>
</html>