<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <h1>stable USD price, USD pair taken from principle exchange</h1>
</head>
<body>
    <form action="/stable_usd" method="POST">
        <label for="pair_code"> pair code: </label><br>
        <input type="pair_code" id="pair_code" name="pair_code"><br>

        <label for="pe"> pe: </label><br>
        <input type="pe" id="pe" name="pe"><br>
        
        <label for="base_pair"> base pair: </label><br>
        <input type="base_pair" id="base_pair" name="base_pair"><br>

        <label for="time_stamp"> time_stamp: </label><br>
        <input type="time_stamp" id="time_stamp" name="time_stamp"><br>

        <label for="price"> price: </label><br>
        <input type="price" id="price" name="price"><br>

        <br><br>
        <input type="submit" value="submit" name="submit"/>
    </form>
</body>
</html>